.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 928px;
  width: 93%;
  font-size: 96px;
}


@media screen and (max-width: 767px) {
  .lead{
    font-size: 75px;
  }
}

@media screen and (max-width:570px) {
  .lead{
    font-size: 55px;
  }
}
@media screen and (max-width:425px) {
  .lead{
    font-size: 40px;
  }
}