.place__paragraph {
  grid-area: texts;
  font-family: Inter, 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  align-self: start;
  max-width: 490px;
  display: block;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media  screen and (max-width: 768px) {
  .place__paragraph {
  align-self: center;
  width: 93%;
  }
}