.intro {
  display: flex;
  flex-direction: column;
  width: 91%;
  max-width: 928px;
  padding: 92px 0;
}

@media screen and (max-width: 1023px) {
  .intro{
    padding: 88px 0;
  }
}
@media screen and (max-width: 425px) {
  .intro{
    padding: 64px 0;
  }
}