.place__website {
  grid-area: website;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: end;
  justify-self: start;
  width: 100%;
}
